*{
    padding: 0;
    margin: 0;
    box-sizing: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.bg-op-green{
    background-color:#1abc9c93 ;
}

.navbar-brand{
    color: #ffffff;
}

.nav-link{
    color: #ffffff;
}

.fondo{
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-size: auto;
}